.barnav{
    background-color: rgb(114, 114, 112);
    overflow: hidden;
}
.barnav  a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.barnav a.acceuil {
    background-color: #04AA6D;
    color: white;
}

.barnav a:hover {
    background-color: #ddd;
    color: black;
}