@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}


header {
    padding: 0.5%;
    background-color: gray;
}

.logo {
    display: inline-block;
}

.logo h3 {
    display: block;
    color: white;
}

.onglets {
    height: 0%;
    display: inline-block;
    position: relative;
    left: 56%;

}

form {
    display: inline-block;

}

a {
    font-size: 17px;
    margin-left: 16px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
    transition: 0.9s;
}