.tri {
   
    
    border: 5px solid lavender;
    position: relative;
    
    
}
.tri a {
   /* display: block;*/
    font-size: medium;
    text-decoration: transparent;
    text-align:center;
    bottom: 0;
    position: absolute;
    
    
}
.tri div{
    text-align: center;
    background-color: rgb(2, 2, 2);
}
.tri a {
    text-decoration: none;
}
.tri img{
   
    height: 85%;
    width: 90%;
    margin-left: 10px;
    
}
.table {
   /* position: absolute;*/
   /* bottom : -60%;*/
   margin-top: 20px;
    display: grid;
    gap: 1em;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
  
}
