body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}



.tri {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 17px;
    /* border: 8px solid rgb(126, 86, 131);*/
    position: relative;
    /*border-radius: 30%;*/
    height: 200px;
    width: 200px;
    background-color: rgb(69, 77, 95);

}

.tri a {
    /* display: block;*/
    font-size: medium;
    text-decoration: transparent;
    text-align: center;
    bottom: 0;
    position: absolute;
}

.div1 {
    height: 100%;
    width: 100%;
}

.div1 a {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.div1 a:hover {
    opacity: 0.4;
    transition: 0.9s;
}

.div1 img {
    position: relative;
    margin: -4px -5px -13px -35px;
}

.div1 p {
    text-align: center;

}

.tri div {
    text-align: center;

}

.tri a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.tri img {

    height: 80%;
    width: 80%;
    padding: 12%;

}

/* .table {
    margin-top: 20px;
    background-color: white;
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
} */
.table {
    height: 60%;
    width: 100%;
    background-color: white;
    display: grid;
    /* gap: 1em;*/
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}