@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* Barre de navigation */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   /* padding: 20px;*/
    width: 100%;
    
    background-color: #fff;
    /*position: sticky;*/
    top: 0;
    background-color: lavender;
}

nav h1 {
    font-size: 20px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
    float: right;
}

nav .onglets p {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}
nav .onglets a:link {
    text-decoration: none;
}


nav .onglets a:visited {
    text-decoration: none;
}


nav .onglets a:hover {
    text-decoration: none;
}


nav .onglets a:active {
    text-decoration: none;
}

nav .onglets input {
    margin: 8px 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
}

a {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
}

/* Fin de la barre de navigation */

/* nav */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav h1 {
    font-size: 50px;
    max-width: 500px;
    text-align: center
}

nav button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

/* Fin du nav */

/* Section principale */
.logo{
 float: left; 
}
.main {
    margin: 20px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Toutes les cartes */
.cards {
    display: flex;
    flex-wrap: wrap;

}

.cards .card {
    margin-right: 20px;
    cursor: pointer;
}

.cards .card img {
    width: 350px;


}

.cards .card .card-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card .card-body p {
    margin-top: -10px;
}

/* Fin de toutes les cartes */

/* Video de présentation */
.main .video {
    margin-top: 80px;
    width: 90%;
}

.main .video iframe {
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

/* Fin de la vidéo de présentation */
/* Fin de la section principale */

/* Pied de page */
footer {
    position: absolute;
    bottom: 0;
    margin-top: 100px;
    background-color: #000;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100vw;
    
}

footer .social-media {
    display: flex;
}

footer .social-media p {
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

/* Fin du pied de page */

@media screen and (max-width: 640px) {

    nav .onglets .link,
    nav h1 {
        display: none;
    }

    .cards .card img {
        width: 300px;
    }
}